.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: black;
    width: 501px;
    height: 502px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.board-cover {
    background-color: #272B30;
    color: #eeeeee;
    font-size: 25px;
    width: 500px;
    height: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.board-cover:hover {
    cursor: pointer;
    opacity: 0.7;
}
